*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    line-height: 1.3;
}
body{
    padding: 20px;
}
.container{
    margin: auto;
    padding: 20px 0px 100px 20px;
    background-color: rgb(202, 83, 231);
    width: 70%;
}
.dev{
    width: 70%;
}
.dev :nth-child(1){
    text-align: right;
}
.b1{
    background-color: blueviolet;
    padding: 7px 7px 5px;
}
.b2{
    background-color: rgb(147, 78, 212);
    padding: 5px;
} 
.text{
    background-color: blueviolet;
    padding: 20px;
}